.topbar{
    display:flex;
    justify-content:space-between ;
    align-items: center;
}

header{
    background:linear-gradient(to right,#a99ed3,#21d2d8);
    padding:15px 20px;
    color:white;
}
  
body{
    font-family: Arial,  sans-serif;
    background-image: url(bg.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
}
.search{
    margin-top: 10px;
    padding:5px;
    width: 30%;
    border-radius: 5px;
    border: none;
    align-items: center;
}

.h{
    text-shadow: 0,0,0,0.5;
    text-align: center;
    text-decoration: rgb(71, 146, 211);
}

button{
    background: rgb(243, 163, 14);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

button hover{
    background-color: rgb(228, 153, 14);
}