.contact{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px ;
}
.contact input, .contact textarea{
    width:100%;
    padding:8px;
    margin-top: 5px;
}
.contact input[type="submit"]{
    background-color: #2c3e50;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}