body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

header{
    background:linear-gradient(to right,#e01a1ad8,#eb61eb);
    padding:15px 20px;
    color:white;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

   h1{       
  margin: 0;
  font-size: 18px;
   }

   .cart{
  font-size: 20px;
  text-align: right; 
}

.search{
    margin-top: 15px;
    padding:5px;
    width: 30%;
    border-radius: 5px;
    border: none;
}

.products{
    display: flex;
    justify-content: center;
   gap:25px;
   padding:30px;
}

.card{                                                
    width:200px;
    padding: 15px;
    text-align: center;         
    border-radius: 10px;
    background:white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.product-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.card img{
    width:100%;
    height: 150px;
    object-fit: contain;
}

.card h2{
    margin: 10px 0 5px;
   }

.card p{
    font-weight: bold;
}

button{
    background: rgb(243, 163, 14);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

button hover{
    background-color: rgb(228, 153, 14);
}

footer{
      background-color: rgb(0, 0, 0);
      color: aliceblue;
      padding: 10px;
      margin-top:  20px;
   } 

.nav{
    text-align:right;
}